body
  padding: 50px
  font-family: Lato

.intro
  text-align: center
  position: fixed
  height: 410px
  width: 100%
  left: 0

  h1
    font-size: 70px
    margin: 2px auto;

  .logo
    background: url('../images/baby-dino.svg') center 0 no-repeat
    height: 340px
    width: 310px
    display: inline-block

  small
    font-size: 20px
    color: #95a5a6


.content
  background: #FFF
  position: relative
  z-index: 1
  top: 410px
  padding: 40px 0



