@import url(http://fonts.googleapis.com/css?family=Nunito&text='Dino Ipsumylkedsars?');

$darkBlue = #34495e
$lightGreenGrey = #95a5a6
$lightGrey = #ccc

$headerHeight = 450px

.thick-black-border
  border-top: 5px solid black;


body
  font-size: 20px
  color: #333

.intro
  background: $darkBlue
  font-family: 'Nunito'
  text-align: center
  position: fixed
  height: $headerHeight
  width: 100%

  h1
    font-size: 70px
    margin: 10px auto 20px
    color: $lightGrey

  .logo
    background: url('../images/baby-37796.svg') center 0 no-repeat
    height: 330px
    width: 310px
    display: inline-block
    margin: 10px 0 0 0

  small
    font-size: 20px
    color: $lightGreenGrey

.container
  position: relative
  z-index: 1
  top: $headerHeight
  width: 100%

.main-container
  @extend .thick-black-border
  background: #F9F9F9


.content
  padding: 40px 0
  max-width: 940px;
  margin: 10px auto;

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
  border-color: #16a085


hr
  border-top: 1px solid #DDD
  border-bottom: 1px solid #FFF


footer
  color: #333
  text-align: center
  margin: 50 auto


.shipswheel
  margin: 5px
  font-size: 18px







