extends layout

block content
  .row
    .span12
      p.
        Dino Ipsum is a ipsum for dinosaur lovers and anyone who needs meaningless filler text for
        prototyping web pages.
      p.
        Simply select your desired options and hit the <strong>Give me Dinos!</strong> button

  .row
    .span12
      form(method="GET")
        .row
          .span12
            input(type="number", min=0, step=1, placeholder="Number of Paragraphs")
        .row
          .span12
            input(type="number", min=0, step=1, placeholder="Words per Paragraph")



  .row
    .span3
      a(href="#", class="btn btn-large btn-block btn-inverse") Give me Dinos !
    .span3
      a(href="#", class="btn btn-large btn-block btn-danger") Reset

