extends layout

block content
  h1 Introduction
  .row-fluid
    .span12
      p.
        Dino Ipsum is a lorem ipsum for dinosaur lovers and anyone who needs meaningless filler text for
        prototyping web pages.
      p.
        Simply select your desired options and hit the <strong>Give me Dinos!</strong> button
  hr
  h2 Getting Started
  .row-fluid
    .span12
      form(method="GET")
        .row-fluid
          .span12
            input(type="text", pattern="[0-9]+", required, placeholder="Number of Paragraphs")
        .row-fluid
          .span12
            input(type="text", pattern="[0-9]+", required, placeholder="Words per Paragraph")
        .row-fluid
          .span12
            select
              option html
              option json
              option plain text

  .row-fluid
    .span3
      a(href="#res", class="btn btn-large btn-block btn-inverse", data-toggle="modal") Give me Dinos !
    .span3
      a(href="#", class="btn btn-large btn-block btn-danger") Reset

  hr
  h2 Full CORS support
  .row-fluid
    .span12
      p.
        Dino Ipsum supports CORS request, this means that you can pull data from Dino Ipsum directly
        with a cross domain ajax request.

      pre.prettyprint.lang-javascript.
        // jQuery.ajax example
        var getDinos      = $.get('http://dinoipsum.herokuapp.com/paragraphs/4.html'),
            fillContainer = function(html) {
              $('#some-awesome-container').html(html);
            },
            oops = function() {
              console.log('Where did all the dinosaurs go?');
            };

        getDinos.then(fillContainer, oops);
      br
      pre.prettyprint.lang-javascript.
        // Vanilla JavaScript example
        var xhr = new XMLHttpRequest();

        xhr.open('GET', 'http://dinoipsum.herokuapp.com/paragraphs/4.html');
        xhr.onload = function() {
          if (this.status === 200) {
            document.querySelector('#some-awesome-container').innerHTML = this.response;
          } else {
            console.log('Where did all the dinosaurs go?');
          }
        };
        xhr.send();


  #res.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3 Output
    .modal-body
      p.dino-output
    .modal-footer
      button.btn.btn-danger(data-dismiss='modal', aria-hidden='true') Close
      button.btn Save changes
