@import url(http://fonts.googleapis.com/css?family=Nunito&text='Dino Ipsumylkedsars?');



$fontSize = 16px
$darkBlue = #34495e
$lightGreenGrey = #95a5a6
$lightGrey = #ccc

$headerHeight = 450px

.thick-black-border
  border-top: 5px solid black

::selection {
  background: $darkBlue
  color: $lightGrey
}

::-moz-selection {
  background: $darkBlue
  color: $lightGrey
}

body
  font-size: $fontSize
  color: #333
  margin : 0
  padding: 0

.intro
  background: $darkBlue
  font-family: 'Nunito'
  text-align: center
  position: fixed
  height: $headerHeight
  width: 100%

  h1
    font-size: 70px
    margin: 10px auto 20px
    color: $lightGrey

  .logo
    background: url('../images/baby-37796.svg') center 0 no-repeat
    height: 330px
    width: 310px
    display: inline-block
    margin: 10px 0 0 0

  small
    font-size: 20px
    color: $lightGreenGrey

.container
  position: relative
  top: $headerHeight
  width: 100%

.main-container
  @extend .thick-black-border
  background: #F9F9F9


.content
  padding: 40px 0
  max-width: 940px
  margin: 10px auto

.row-fluid
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input
    height: inherit

    &:focus
      border-color: #16a085


hr
  border-top: 1px solid #DDD
  border-bottom: 1px solid #FFF

dt, dd
  display: inline
  margin: 0

dt:before
  content: '‣ '

dd:after
  content: '\A'
  white-space: pre

footer
  color: #333
  text-align: center
  margin: 50 auto


pre.prettyprint
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.15)
  padding: 9.5px


.shipswheel
  margin: 5px
  font-size: 18px

  &:after
    content: '⎈'

.modal-body
  p
    font-size: 12px
  pre
    white-space: pre-wrap






