<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ get_url(path="favicon.ico", trailing_slash=false) }}" type="image/x-icon">
    <title>Dino Ipsum - A Lorem Ipsum for dinosaur lovers</title>
    <meta name="author" content="Alex Normand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dino Ipsum is a lorem ipsum for dinosaur lovers and anyone who needs meaningless filler text for prototyping web pages. Dino Ipsum provides a RESTful API with full CORS support.">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&amp;text=DinoIpsumylkedsars%3F%20">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic">
  </head>
  <body>
    <header class="intro">
      <div class="logo-container">
        <div class="logo"></div>
        <h1>Dino Ipsum</h1>
        <small>Do you like dinosaurs ?</small>
      </div>
    </header>
    <div class="container main-container">
      <div class="content">
        {% block content %}{% endblock content %}
    </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <p>2013<span class="shipswheel"></span>Alex Normand</p>
        </div>
      </div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>